appdirs==1.4.4
APScheduler==3.6.3
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cryptography==36.0.0
decorator==5.1.0
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
more-itertools==8.12.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.6
pytest==6.2.5
python-telegram-bot==13.8.1
pytz==2021.3
requests==2.26.0
requests-mock==1.9.3
six==1.16.0
soupsieve==2.3.1
telegram-send==0.25
toml==0.10.2
tornado==6.1
typing-extensions==4.0.1
tzlocal==4.1
urllib3==1.26.7
wcwidth==0.2.5
zipp==3.6.0
