appdirs==1.4.4
APScheduler==3.6.3
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
decorator==5.0.9
idna==3.2
importlib-metadata==4.8.1
iniconfig==1.1.1
more-itertools==8.9.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.5
python-telegram-bot==13.7
pytz==2021.1
requests==2.26.0
requests-mock==1.9.3
six==1.16.0
soupsieve==2.2.1
telegram-send==0.25
toml==0.10.2
tornado==6.1
typing-extensions==3.10.0.2
tzlocal==3.0
urllib3==1.26.6
wcwidth==0.2.5
zipp==3.5.1
