appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
colorama==0.4.3
cryptography==3.0
decorator==4.4.2
idna==2.10
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.0.0
python-telegram-bot==12.8
pytz==2020.1
requests==2.24.0
requests-mock==1.8.0
six==1.15.0
soupsieve==2.0.1
telegram-send==0.25
tornado==6.0.4
urllib3==1.25.9
wcwidth==0.2.5
